<div class="jumbotron">
  <div class="container">
    <h1>Hello, <%= @username %>!</h1>
    <p>Your email is: <%= @email %></p>
    <p>You are a <%= @profession %></p>
    <p>El valor de cookie monstre es: <%= @cookie %></p>
    <p>Welcome to Make It Real!</p>

    <a href="/">Back to form</a>
  </div>
</div>
